{% extends "::base.html.twig" %}

{% block title %}Ajout d'un bateau{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>Ajout d'un nouveau Bateau</h1>
        <br>
        {% include("TobatBundle:Forms:bateau.html.twig") %}
    </div>


{% endblock %}