{% extends "::base.html.twig" %}

{% block title %}Modification d'un bateau{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>Modifiaction d'un Bateau</h1>
        <br>
        {% include("TobatBundle:Forms:bateau.html.twig") %}
    </div>


{% endblock %}